@import '../colors';
@import '../common';

$card-w: 240px;
$card-h: 180px;
$caption-h: 40px;
$summary-h: 96px;
$mobile-card-w: $card-w * 3;
$mobile-card-h: $card-h * 3;
$mobile-caption-h: $caption-h * 3;
$mobile-summary-h: $summary-h * 3 + 48;

.boardCard:hover {
    box-shadow: 0 .1em .5em $azure-radiance;
}

.boardCard {
    border: 1px solid $alto;
    border-radius: 4px;
    cursor: pointer;
    display: inline-table;
    height: $card-h + $caption-h + $summary-h + 16px + 5px + 16px + 5px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    overflow: hidden;
    width: $card-w + 32px + 16px;

    @include breakpoint(mobile) {
        border-radius: 12px;
        height: $mobile-card-h + $mobile-caption-h + $mobile-summary-h + 16px + 5px + 16px + 5px;
        margin-bottom: 24px;
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 24px;
        width: $mobile-card-w + 32px + 16px;
    }

    a:hover {
        text-decoration: none;
    }

    .imgContainer {
        background-color: $mine-shaft;
        padding-bottom: 16px;
        padding-top: 16px;
    }

    .img {
        height: $card-h;
        width: $card-w;

        @include breakpoint(mobile) {
            height: $mobile-card-h;
            width: $mobile-card-w;
        }
    }

    .title {
        background-color: $alabaster;
        color: $mine-shaft;
        font-size: 18px;
        font-weight: bold;
        height: $caption-h;
        line-height: $caption-h;
        opacity: 1;
        padding-left: 10px;
        text-align: left;
        vertical-align: bottom;

        @include breakpoint(mobile) {
            font-size: 54px;
            height: $mobile-caption-h;
            line-height: $mobile-caption-h;
            padding-left: 30px;
        }
    }

    .url {
        background-color: $alabaster;
        color: $gray;
        font-size: 13px;
        font-weight: normal;
        opacity: 1;
        padding-left: 10px;
        text-align: left;

        @include breakpoint(mobile) {
            font-size: 39px;
            padding-left: 30px;
        }
    }

    .summary {
        background-color: $alabaster;
        color: $mine-shaft;
        font-size: 16px;
        font-weight: normal;
        height: $summary-h;
        margin-bottom: 10px;
        opacity: 1;
        overflow: hidden;
        padding: 8px 10px 5px;
        text-align: left;
        vertical-align: top;
        visibility: visible;

        @include breakpoint(mobile) {
            font-size: 48px;
            height: $mobile-summary-h;
            padding-left: 30px;
        }
    }
}
