@import 'board_list';
@import '../colors';
@import '../common';
@import '../title_bar';
@import '../fontello';

.searchContainer {
  border: 1px solid #e3e3e3;
  flex-grow: 2;
  max-width: 594px;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  height: 61px;
  padding-top: 10px;
}

.searchBackground {
  background: $white;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  height: 40px;
  width: 100%;
}

.searchInputIcon {
  align-items: center;
  background-color: $white;
  border-radius: 5px 0 0 5px;
  display: flex;
  height: 40px;
  padding-left: 8px;
  width: 32px;
}

.searchIcon {
  color: $silver-chalice;
}

.clickableLink {
  cursor: pointer;
}

.searchInput {
  flex-grow: 1;
  height: 52px;
  position: relative;

  input {
    -webkit-appearance: none;
    background: $white;
    border: 0;
    border-radius: 0 3px 3px 0;
    font-size: 18px;
    height: 40px;
    line-height: 22px;
    padding-right: 16px;
    position: relative;
    width: 100%;
  }

  input:focus {
    outline: none;
  }
}
