
.icon-spin1:before { content: '\e800'; } /* '' */
.icon-spin2:before { content: '\e801'; } /* '' */
.icon-spin3:before { content: '\e802'; } /* '' */
.icon-spin4:before { content: '\e803'; } /* '' */
.icon-spin5:before { content: '\e804'; } /* '' */
.icon-spin6:before { content: '\e805'; } /* '' */
.icon-basket:before { content: '\e806'; } /* '' */
.icon-cart-plus:before { content: '\e807'; } /* '' */
.icon-cart-arrow-down:before { content: '\e808'; } /* '' */
.icon-basket-1:before { content: '\e809'; } /* '' */
.icon-basket-2:before { content: '\e80a'; } /* '' */
.icon-basket-3:before { content: '\e80b'; } /* '' */
.icon-basket-alt:before { content: '\e80c'; } /* '' */
.icon-cart:before { content: '\e80d'; } /* '' */
.icon-basket-4:before { content: '\e80e'; } /* '' */
.icon-basket-circled:before { content: '\e80f'; } /* '' */
.icon-spinner:before { content: '\e810'; } /* '' */
.icon-spinner2:before { content: '\e811'; } /* '' */
.icon-spinner1:before { content: '\e812'; } /* '' */
.icon-shareable:before { content: '\e813'; } /* '' */
.icon-ccw:before { content: '\e814'; } /* '' */
.icon-cw:before { content: '\e815'; } /* '' */
.icon-arrows-ccw:before { content: '\e816'; } /* '' */
.icon-flickr:before { content: '\e817'; } /* '' */
.icon-arrows-cw:before { content: '\e818'; } /* '' */
.icon-progress-0:before { content: '\e819'; } /* '' */
.icon-progress-1:before { content: '\e81a'; } /* '' */
.icon-progress-2:before { content: '\e81b'; } /* '' */
.icon-progress-3:before { content: '\e81c'; } /* '' */
.icon-progress-4:before { content: '\e81d'; } /* '' */
.icon-progress-5:before { content: '\e81e'; } /* '' */
.icon-progress-6:before { content: '\e81f'; } /* '' */
.icon-progress-7:before { content: '\e820'; } /* '' */
.icon-cw-circle:before { content: '\e821'; } /* '' */
.icon-arrows-cw-1:before { content: '\e822'; } /* '' */
.icon-target:before { content: '\e823'; } /* '' */
.icon-cog:before { content: '\e824'; } /* '' */