[submodule "svg2gerber"]
	path = module_src/svg2png
	url = https://github.com/kasbah/svg2png

[submodule "svgerber-board-builder"]
	path = module_src/svgerber-board-builder
	url = https://github.com/kasbah/svgerber-board-builder
