@import 'tsv_table';

.Bom {
  .expandBomTable:hover {
    background-color: #ededed !important;
    .expandSummary {
      background-color: white !important;
    }
  }
  .expandSummary {
    td {
      padding: 2px !important;
    }
    border-top: 0px !important;
    padding: 0px !important;
    font-size: 14px !important;
    background-color: white !important;
  }
}
