@import '../colors';
@import '../common';
@import '../title_bar';

a.ui.card {
    color: $mine-shaft;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
}

a.ui.card:hover {
    color: $mine-shaft;
}
