{
  presets: ['next/babel'],
  plugins: [
    'transform-class-properties',
    'transform-object-rest-spread',
    'transform-function-bind',
  ],
  env: {
    development: {
      plugins: ['inline-dotenv'],
    },
    production: {
      plugins: ['transform-inline-environment-variables'],
    },
  },
}
