@import '../page/page';
@import '../colors';
@import '../common';
@import '/semantic.min.css';

.ui.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

code {
    background-color:$lightlightgray;
}

.ui.input {
    max-width: 500px;
    flex-grow: 1;
}

.submitButton {
   min-width: 94px;
}

#greenButton {
   background-color: rgba(19, 80, 18, 0.9);
}

#redButton {
   background-color: #d41212;
}

#blueButton {
   background-color: #122e6f;
}

#blackButton {
   background-color: black;
}

#whiteButton {
   background-color: white;

}

#orangeButton {
   background-color: #f29c1c;
}

#purpleButton {
   background-color: #653b86;
}

#yellowButton {
   background-color: #dfdf90;
}

.step {
    font-weight:normal;
    @include breakpoint(mobile) {
        font-size:27px !important;
    }
}

.step:hover {
   text-decoration: none;
}

.stepsContainer {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

#submitForm {
    margin-top:50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.pcb-stackup_fr4 {color: #4D542C;}
.pcb-stackup_cu {color: lightgrey;}
.pcb-stackup_sp {color: rgba(0, 0, 0, 0.0);}
.pcb-stackup_out {color: black;}

.pcb-green {
     .pcb-stackup_cf {color: goldenrod;}
     .pcb-stackup_sm {color: rgba(  0,  68,   0, 0.90);}
     .pcb-stackup_ss {color: white;}
}

.pcb-red {
     .pcb-stackup_cf {color: goldenrod;}
     .pcb-stackup_sm {color: rgba(139,   0,   0, 0.90);}
     .pcb-stackup_ss {color: white;}
}

.pcb-blue {
     .pcb-stackup_cf {color: silver;}
     .pcb-stackup_sm {color: rgba(  0,  30, 104, 0.90);}
     .pcb-stackup_ss {color: white;}
}

.pcb-black {
     .pcb-stackup_cf {color: silver;}
     .pcb-stackup_sm {color: rgba(  0,   0,   0, 0.90);}
     .pcb-stackup_ss {color: white;}
}

.pcb-white {
     .pcb-stackup_cf {color: goldenrod;}
     .pcb-stackup_sm {color: rgba(255, 255, 255, 0.90);}
     .pcb-stackup_ss {color: black;}
}

.pcb-orange {
     .pcb-stackup_cf {color: silver;}
     .pcb-stackup_sm {color: rgba(195, 107,   0, 0.90);}
     .pcb-stackup_ss {color: white;}
}

.pcb-purple {
     .pcb-stackup_cf {color: goldenrod;}
     .pcb-stackup_sm {color: rgba( 46,   0,  81, 0.90);}
     .pcb-stackup_ss {color: white;}
}

.pcb-yellow {
     .pcb-stackup_cf {color: goldenrod;}
     .pcb-stackup_sm {color: rgba(255, 255, 102, 0.50);}
     .pcb-stackup_ss {color: black;}
}

.colorSelector {
   display:flex;
   align-items: center;
   @include breakpoint(semantic_tablet) {
      align-items: flex-start;
      min-height: 90px;
   }
}

.colorSelect {
   width: 32px;
   height: 32px;
   margin: 4px;
   border: 1px solid lightgrey;
}
#whiteButton {
   border: 1px solid lightgrey;
}

.colorSelect.selected, #whiteButton.selected {
   border: 3px solid lightgrey;
}


