@import '/semantic.min.css';
@import '../common';
@import '../colors';
@import '../fontello';
@import 'mpn_popup';

.bom {
    td.marked.orange {
        border-left: 13px solid #FF9E39 !important;
    }

    td.marked.green {
        border-left: 13px solid #62B9A4 !important;
    }

    td.marked.purple {
        border-left: 13px solid #985DFF !important;
    }

    td.marked.yellow {
        border-left: 13px solid #F2EF11 !important;
    }

    td.marked.black {
        border-left: 13px solid #000000 !important;
    }

    td.marked.blue {
        border-left: 13px solid #181887 !important;
    }

    td.marked.lightblue {
        border-left: 13px solid lightblue !important;
    }
    tr.selected {
       background:rgba(0,0,0,.05) !important;
    }

    th.error {
        background: rgb(255, 246, 246) !important;
    }

    th.retailerHeader {
        cursor: pointer !important;
    }

    th.retailerHeader:hover {
        background-color: #e6e6e6;
    }

    th.retailerHeader.error:hover {
        background-color: rgba(255, 192, 203, 0.58) !important;
    }

    div.headerCell {
        display: flex;
        flex-wrap: wrap;
    }

    div.headerCellText {
        flex-grow: 1;
        min-width: 102px;
        @include breakpoint(mobile-m) {
            width: 224px;
        }
    }
    div.headerCellIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        font-size: 22px;
    }

    .storeIcons {
        height: 16px;
        margin-right: 2px;
        width: 16px;
    }

    .headerCellName {
        display: flex;
        align-items: center;
    }

    .expandBom {
        background: rgba(0,0,0,.05) !important;
        font-size: 12 !important;
        font-weight: bold !important;
    }

    .expandBom:hover {
        cursor: pointer;
        background: rgba(0,0,0,.08) !important;
    }
}
