@import '../common';
@import '../colors';

.boardshowcase-with-menu {
  display: flex;
  flex-direction: column;
}

.boardshowcase-menu {
  flex-shrink: 1;
}

.boardShowcaseContainer {
  flex-grow: 1;
}

@include breakpoint(small_width) {
  .boardContainer {
    border: 5px solid $dove-gray;
    border-radius: 0 0 5px 5px;
  }

  .responsiveTabs.toggleBoardView {
    display: flex;
  }

  .boardEdge {
    display: none;
  }

  .backBoard {
    display: none;
  }

  .boardContainer .boardDiagram {
    display: none;
    width: 100%;
  }

  .boardContainer .selectedBoard.boardDiagram {
    display: flex;
  }

  .circuitBorderContainer {
    display: none;
  }
}
.traceSpaceLink {
  background-color: #000;
  font-weight: normal;
}

.boardShowcase {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  border-radius: 3px;
  background: $mine-shaft;
  @include breakpoint(small_width) {
    border-radius: 0;
    background: none;
  }
}

.boardEdge {
  width: 10%;
}

.boardContainer {
  background: $mine-shaft;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  padding: 2rem;
  width: 100%;

  @include breakpoint(small_width) {
    border-radius: 0;
  }
}

.toggleBoardForm {
  margin-top: 16px;
}

.boardDiagram {
  img,
  svg {
    height: 240px;
    width: 100%;
  }
  width: 100%;
  display: flex;
  justify-content: center;
}

.circuitBorderContainer {
  display: flex;
  justify-content: center;
  width: 6.4px;
}

.circuitBorder {
  width: 8px;
}

.toggleBoardView {
  display: none;
  justify-content: space-around;
}

.circuitToggleBtn:disabled {
  background: $dove-gray;
}

.circuitToggleBtn {
  background: $mine-shaft;
  border-bottom: 0;
  border-left: 0;
  border-radius: 5px 5px 0 0;
  border-right: 0;
  border-top: 2px solid $gallery;
  color: $white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 32px;
  width: 100%;
  z-index: 1;
}

#traceSpaceLogo {
  fill: #30c2c2;
  z-index: 2;
  height: 10;
  width: 10;
}

.overlay {
  color: #fff;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.shadow {
  background: #000;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
}
