@import '/semantic.min.css';
@import 'animation';
@import '../common';
@import '../colors';
@import '../fontello';
@import 'mpn_popup';

.bom {
    td.marked.orange {
        border-left: 13px solid #FF9E39 !important;
    }

    td.marked.green {
        border-left: 13px solid #62B9A4 !important;
    }

    td.marked.purple {
        border-left: 13px solid #985DFF !important;
    }

    td.marked.yellow {
        border-left: 13px solid #F2EF11 !important;
    }

    td.marked.black {
        border-left: 13px solid #000000 !important;
    }

    td.marked.blue {
        border-left: 13px solid #181887 !important;
    }

    td.marked.lightblue {
        border-left: 13px solid lightblue !important;
    }
    tr.selected {
       background:rgba(0,0,0,.05)!important
    }
}
