@import '/semantic.min.css';
@import 'animation';
@import '../common';
@import '../colors';
@import '../fontello';

.bom {
    thead {
        background-color: $dove-gray;
        color: $white;
        font-weight: bold;
    }

    .bomTable {
        min-width: 100%;
    }

    .bomToggle {
        background: $dove-gray;
        border: 0;
        border-bottom: 1px solid $mine-shaft;
        border-radius: 5px;
        color: $white;
        cursor: pointer;
        font-size: 16px;
        margin-bottom: 16px;
        padding: 8px 16px;

        @include breakpoint(mobile) {
            font-size: 48px;
            padding: 32px;
        }
    }

    .columnVisibility {
        font-size: 8px;
        font-weight: normal;
    }

    .thContainer {
        display: flex;
        justify-content: space-between;
    }

    .tickApproval {
        color: $crete;
        padding-left: 3.2px;
        text-shadow: 0 -1px 0 $malachite;
    }
}
