@import '../colors';
@import '../common';

.bomInstallPrompt {
    background-color: $pearl-lusta;
    border: 2px solid $champagne;
    color: $potters-clay;
    padding: 8px 16px;
    width: 100%;

    @include breakpoint(mobile) {
        font-size: 32px;
        padding: 16px;
    }

    .bomInstallAnchor {
        color: $black;
        cursor: pointer;
    }
}
