@import '../colors';
@import '../common';

.gerbersContainer {
    display: flex;
    justify-content: center;
    padding: 16px 0;

    .zipPath {
        text-decoration: none;
    }

    .gerbers {
        background: $fruit-salad;
        border-radius: 3px;
        color: $white;
        cursor: pointer;
        padding: 9.6px 14.4px;

        @include breakpoint('mobile') {
            font-size: 48px;
            padding: 19.2px 28.8px;
        }
    }

    .gerbers:hover {
        background: $emerald;
    }

    @include breakpoint('mobile') {
        margin: 48px;
    }
}
