@import '../colors';
@import '../common';

.gerbersContainer {
  display: flex;
  justify-content: center;
  padding: 16px 0;

  .zipPath {
    text-decoration: none;
  }

  .gerbers {
    background: $fruit-salad;
    border-radius: 3px;
    color: $white;
    cursor: pointer;
    padding: 9.6px 14.4px;
  }

  .gerbers:hover {
    background: $emerald;
  }
}
