@import '../colors';
@import '../common';

.gerbersContainer {
  i {
    padding-right: 5px;
  }
  display: flex;
  justify-content: center;
  padding: 16px 0;

  .zipPath {
    text-decoration: none;
  }

  button {
    width: 142px !important;
    height: 54px !important;
  }
  margin-bottom: 20px;
}
