@import '../colors';
@import '../common';

.PcbMenu {
  padding: 16px 0;
  margin-bottom: 20px;

  .ui.borderless {
    width: 100%;
    border: 0px;
    box-shadow: 0 0 0 0;
  }

  &__container {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  &__sub-title {
    display: flex;
    justify-content: center;
  }

  &__links-container {
    display: flex;
    justify-content: center;
  }

  &__group {
    flex: 0 1 33%;
    width: 33%;
  }

  &__download {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  &__compare {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  i {
    padding-right: 5px;
  }

  img {
    min-width: 100px;
  }

  //XXX if you change this change it in the .jsx too!
  @media (max-width: 920px) {
    .ui.menu {
      width: 100%;
    }

    &__container {
      flex-direction: column;
      justify-content: center;
    }
    &__links-container {
      flex-direction: column;
      justify-content: center;
    }
    &__group {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }

  a.item {
    margin-right: 10px !important;
    margin-left: 10px !important;
    display: flex !important;
    justify-content: center !important;
  }

  div.ui.floating.label {
    top: 2.5em !important;
    left: 95% !important;
  }

  div.ui.label {
    background-color: transparent !important;
  }
}
