@import '../colors';
@import '../common';

.OrderPcbs {
  display: flex;
  justify-content: center;
  padding: 16px 0;
  margin-bottom: 20px;

  .ui.borderless {
    border: 0px;
    box-shadow: 0 0 0 0;
  }

  i {
    padding-right: 5px;
  }

  img {
    min-width: 100px;
  }

  @media (max-width: 710px) {
    .ui.menu {
      width: 100%;
    }
  }

  a.item {
    margin-right: 10px !important;
    margin-left: 10px !important;
    display: flex !important;
    justify-content: center !important;
  }

  div.ui.floating.label {
    top: 2.5em !important;
    left: 95% !important;
  }

  div.ui.label {
    background-color: transparent !important;
  }
}
