@import '../colors';
@import '../common';
@import '../title_bar';
@import '../buy_parts/buy_parts';
@import 'board_showcase';
@import 'order_pcbs';

.disabledSite {
  color: $gray;
  cursor: default;
  user-select: none;
}

.subtitleText {
  color: $gray;
  font-size: 14px;
  text-align: left;
  margin: 3px;
  margin-left: 0px;
}

.titleText {
  border-radius: 5px;
  color: black;
  font-size: 24px;
  line-height: 40px;
  text-align: left;
  vertical-align: middle;
  width: 100%;
}

.infoBar {
  margin-top: 10px;
  padding: 20px;
}

.infoBarTitle {
  margin: 10px;
  line-height: 1em;
}

.infoBarSummary {
  margin: 10px;
  margin-left: 0px;
}

.infoBarInner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.infoBarWebsiteLink {
  font-size: 14px;
  text-align: left;
  margin: 10px;
}
.infoBarSiteLink {
  margin-top: 8px;
}

.infoBarLinkContainer {
  display: flex;
  justify-content: space-between;
}

.infoBarLinks {
  margin-left: 5px;
  margin-right: 5px;
}

.pageContainer {
  padding: 0 10%;

  @include breakpoint(small_width) {
    padding: 0;
  }
}

.readme {
  margin-top: 15px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #eeeeee;
  max-width: 1000px;
}

.readme .highlight {
  overflow-x: auto;
}

.deep-link > a:hover {
  text-decoration: none;
}

.readme {
  word-wrap: break-word;
}

.readme code,
.readme .highlight {
  padding: 0.2em 0.4em 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}

.readme img {
  max-width: 100%;
}
