$thumb-w      : 240px;
$thumb-h      : 180px;
$captionH     : 40px;
$descriptionH : 96px;

.BoardThumb:hover {
    box-shadow: 0px 0.1em 0.5em #0C9BEF;
}

.BoardThumb {

    width         : $thumb-w + 32px + 16px;
    height        :
    $thumb-h + $captionH
    + $descriptionH + 16px + 5px + 16px + 5px;
    border-radius : 4px;
    margin-top    : 8px;
    margin-right  : 8px;
    margin-bottom : 8px;
    margin-left   : 8px;
    display       : inline-block;
    border        : 1px solid #CFCFCF;
    cursor        : pointer;
    overflow      : hidden;


    .imgContainer {
        background-color : #373737;
    }

    .img {
        width        : $thumb-w;
        height       : $thumb-h;
        margin-top    : 16px;
        margin-bottom : 16px;
    }

    .title {
        height           : $captionH;
        line-height      : $captionH;
        text-align       : center;
        vertical-align   : bottom;
        font-weight      : bold;
        font-size        : 18px;
        opacity          : 1.0;
        background-color : #FAFAFA;
        color            : #373737;
        text-align       : left;
        padding-left     : 10px;
    }

    .url {
        font-size        : 13px;
        background-color : #FAFAFA;
        color            : grey;
        opacity          : 1.0;
        font-weight      : normal;
        padding-left     : 10px;
        text-align       : left;
    }

    .description {
        visibility       : visible;
        height           : $descriptionH;
        overflow         : hidden;
        padding          : 8px 10px 5px 10px;
        vertical-align   : top;
        font-size        : 16px;
        margin-bottom    : 10px;
        opacity          : 1.0;
        background-color : #FAFAFA;
        color            : #373737;
        font-weight      : normal;
        text-align       : left;
    }
}
