@import 'common';
@import 'colors';

@include breakpoint(mobile) {
    .boardShowcaseContainer {
        .circuitToggleBtn {
            font-size: 48px;
        }

        .boardDiagram {
            height: 100%;
        }

        .octicon {
            font-size: 48px;
        }

        .boardContainer {
            max-height: 800px;
        }

        .toggleBoardView {
            height: 128px;
        }

        .backBoard {
            padding-left: 16px;
        }

        .frontBoard {
            padding-right: 16px;
        }
    }
}

@include breakpoint(mobile_or_small_width) {
    .boardContainer {
        border: 5px solid $dove-gray;
        border-radius: 0 0 5px 5px;
    }

    .responsiveTabs.toggleBoardView {
        display: flex;
    }

    .boardEdge {
        display: none;
    }

    .backBoard {
        display: none;
    }

    .boardContainer .boardDiagram {
        display: none;
        width: 100%;
    }

    .boardContainer .selectedBoard.boardDiagram {
        display: block;
    }

    .circuitBorderContainer {
        display: none;
    }
}

.boardShowcase {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.boardEdge {
    width: 10%;
}

.boardContainer {
    background: $mine-shaft;
    border-bottom: 1px solid $cod-gray;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    max-height: 320px;
    padding: 2rem;
    width: 100%;

    @include breakpoint(mobile_or_small_width) {
        border-radius: 0;
    }
}

.toggleBoardForm {
    margin-top: 16px;
}

.boardDiagram {
    height: 240px;
    width: 50%;
}

.circuitBorderContainer {
    display: flex;
    justify-content: center;
    width: 6.4px;
}

.circuitBorder {
    width: 8px;
}

.toggleBoardView {
    display: none;
    justify-content: space-around;
}

.circuitToggleBtn:disabled {
    background: $dove-gray;
}

.circuitToggleBtn {
    background: $mine-shaft;
    border-bottom: 0;
    border-left: 0;
    border-radius: 5px 5px 0 0;
    border-right: 0;
    border-top: 2px solid $gallery;
    color: $white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 32px;
    width: 100%;
    z-index: 1;
}
