@import 'common';
@import 'spinners_n_carts';
@import 'animation';
td {
    border: 1px solid grey;
}

thead {
    font-weight: bold;
    background-color: dimGrey;
    color: white;
}

thead {
    a {
        color: white;
    }
    a:hover {
        text-decoration: none;
    }
}

.tr-1 {
    background-color:white;
}

.retailerHeading {
    cursor:pointer;
}

.retailerHeading:hover {
    background-color:grey;
}
.tr-0{
    background:lightGray;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #C5C5C5;
}
table.responsive{
    width:100%;
    border-spacing: 0;
    td {
        border:0; padding: 9px 10px; text-align: left;
    }
    th{
        padding:0 10px;
        height:40px;
        box-sizing:border-box;
        text-align: left;
    }
}
table.defaultTblView tr td:nth-of-type(1n+5),
table.defaultTblView tr th:nth-of-type(1n+5){
    display:none;
}
.bomToggleContainer{
    display:flex;
    justify-content:center;
}
.bomTblContainer{
    width:100%;
    overflow-x:auto;
}
.bomToggle{
    margin-bottom:1rem;
    background:dimgrey;
    color:#fff;
    border-radius:5px;
    border:0;
    padding:0.5rem 1rem;
    cursor: pointer;
    font-size:16px;
    @include breakpoint(mobile) {
        font-size:48px;
        padding:2rem;
    }
    border-bottom:1px solid #222;
}


