@import 'colors';

.storeButtonContainer {
    background: $alto;
    border-bottom: 1px solid $silver;
    border-radius: 3px;
    border-top: 1px solid $gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    .storeIcons {
        height: 16px;
        margin-top: 1px;
        width: 16px;

        @include breakpoint(mobile) {
            height: 32px;
            width: 32px;
        }
    }

    .storeButton {
        align-items: center;
        border: 0;
        border-radius: 3px;
        box-sizing: border-box;
        color: $white;
        display: flex;
        font-size: 16px;
        justify-content: center;
        margin: 16px 10px;
        padding: 0;
        -webkit-touch-callout: none; // iOS Safari
        -khtml-user-select: none;    // Konqueror
        -moz-user-select: none;      // Firefox
        -ms-user-select: none;       // Internet Explorer/Edge
        -webkit-user-select: none;   // Chrome/Safari/Opera
        @include breakpoint(mobile) {
            font-size: 38px;
            min-width: 233px;
        }
    }

    .storeButtons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0 16px;
        width: 100%;
    }

    .retailerIcon {
        align-items: center;
        background: $black-10;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        display: flex;
        justify-content: center;
        padding: 9.6px 14.4px;
        width: 22px;

        @include breakpoint(mobile) {
            width: 32px;
        }
    }

    .noPartsSpecified {
        background: $silver-chalice;

        .retailerText {
            cursor: default;
        }
    }

    .allPartsSpecified {
        background: $fruit-salad;
    }

    .somePartsSpecified:hover {
        background: $puce;
        cursor: pointer;
    }

    .allPartsSpecified:hover {
        background: $emerald;
        cursor: pointer;
    }

    .somePartsSpecified {
        background: $new-york-pink;
    }

    .storeButtonInner {
        border-radius: 3px;
        display: flex;
        width: 100%;

        .retailerText {
            box-sizing: border-box;
            flex: 1;
            font-weight: bold;
            min-width: 80px;
            padding: 9.6px 0;
            text-align: center;

            @include breakpoint(mobile) {
                padding: 9.6px 10px;
            }
        }
    }

    .storeContainerLogo {
        align-items: center;
        background: $dove-gray;
        border-bottom: 1px solid $scorpion;
        border-top: 1px solid $gray;
        color: $white;
        display: flex;
        flex: 1 0 auto;
        font-size: 20.8px;
        justify-content: center;
        margin-right: auto;
        padding: 3px 0;

        @include breakpoint(mobile) {
            font-size: 48px;
            padding: 32px;
        }
    }

    #quantityContainer {
        width:100%;
        display: flex;
        height: 48px;
        justify-content: center;
        align-items: center;
        background: #d9d9d9;
        @include breakpoint(mobile) {
            padding: 32px;
            height: 96px;
        }

    }

    #quantityContainer input {
        @include breakpoint(mobile) {
            font-size: 48px;
            height: 64px;
        }
    }

}
