$alto: #cfcfcf;
$alabaster: #fafafa;
$azure-radiance: #0c9bef;
$black: #000;
$cod-gray: #1b1b1b;
$champagne: #faebcc;
$crete: #52842f;
$dove-gray: #696969;
$dusty-gray: #969696;
$emerald: #5aca5e;
$fruit-salad: #4caf50;
$gallery: #eee;
$gray: #808080;
$malachite: #37e039;
$mine-shaft: #373737;
$new-york-pink: #d67b7b;
$pearl-lusta: #fcf8e3;
$potters-clay: #8a6d3b;
$puce: #d29191;
$scorpion: #585858;
$silver: #c5c5c5;
$silver-chalice: #a9a9a9;
$white: #fff;
$lightlightgray: #ececec;

//rgba
$black-10: rgba(0, 0, 0, .1);
