//these are also defined in media_queries.js and need to be adjusted there and here
@mixin breakpoint($point) {
    @if $point == small_width {
        @media (max-width: 878px)
        {
            @content;
        }
    } @else if $point == semantic_container{
        @media (max-width: 1199px)
        {
            @content;
        }
    } @else if $point == mobile-m {
        @media (max-width: 499px)
        {
            @content;
        }
    }
}

html,
head,
body {
    margin: 0;
}

body {
    font-family: 'Noto Sans','Helvetica', 'Arial', sans-serif;
    font-size: 16px;

    overflow-y: scroll;
}

a {
    color: $mine-shaft;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: $mine-shaft;
    text-decoration: underline;
}

.notSelectable {
    user-select: none;
    cursor: default;
}
