//these are also defined in media_queries.js and need to be adjusted there and here
@mixin breakpoint($point) {
    @if $point == mobile {
        @media only screen and (min-device-width: 320px)
        and (max-device-width: 480px)
        , (orientation: landscape) and (max-device-width: 810px)
        , (handheld) {
            @content;
        }
    } @else if $point == mobile_or_small_width {
        @media only screen and (min-device-width: 320px)
        and (max-device-width: 480px)
        , (orientation: landscape) and (max-device-width: 810px)
        , (handheld)
        , (max-width: 810px) {
            @content;
        }
    } @else if $point == small_width {
        @media (max-width: 810px) {
            @content;
        }
    }
}

html,
head,
body {
    margin: 0;
}

body {
    font-family: 'Noto Sans','Helvetica', 'Arial', sans-serif;
    font-size: 16px;

    @include breakpoint(mobile) {
        font-size: 24px;
    }
    overflow-y: scroll;
}

a {
    color: $mine-shaft;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.notSelectable {
    user-select: none;
    cursor: default;
}
