@import 'common';
@import 'title_bar';
@import 'board_thumb';

.search-input-icon {
    background-color:white;
    width:32px;
    height:40px;
    @include breakpoint(mobile) {
        width: 72px;
        height: 80px;
    }
    border-radius: 5px 0 0 5px;
}

.search-input {
    width:100%;
    height: 52px;
    @include breakpoint(mobile) {
        height: 92px;
    }
    position: relative;
}

.search-input > input {
    width: 100%;
    height: 80%;
    font-size: 18px;
    @include breakpoint(mobile) {
        font-size: 24px;
    }
    border: none;
    line-height: 22px;
    height: 40px;
    @include breakpoint(mobile) {
        height: 80px;
    }
    position: relative;
    border-radius: 0 5px 5px 0;
    background: white;
}

.search-input > input:focus {
    outline: none;
}
