@import 'colors';
@import 'common';
@import 'title_bar';
@import 'bom';
@import 'board_showcase';
@import 'gerbers';
@import 'buy_parts';
@import 'bom_install_prompt';
@import 'extension_compatibility_prompt';

    @include breakpoint(mobile) {
        .octicon {
            font-size: 48px;
        }

        .infoBarInner {
            font-size: 40px;
        }

        .infoBarLinksContainer {
            background: $alabaster;
            border-radius: 20px;
            font-size: 48px;
        }
    }

    .disabledSite {
        color: $gray;
        cursor: default;
        -ie-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
    }

    .subtitleText {
        color: $gray;
        font-size: 14px;
        text-align: center;

        @include breakpoint(mobile) {
            font-size: 32px;
        }
    }

    .titleText {
        border-radius: 5px;
        color: $white;
        font-size: 24px;
        line-height: 40px;
        text-align: center;
        vertical-align: middle;
        width: 100%;

        @include breakpoint(mobile) {
            font-size: 64px;
            line-height: 74px;
            padding-bottom: 20px;
            padding-top: 5px;
        }
    }

    .infoBar {
        margin-top: 10px;
        padding: 20px;
    }

    .infoBarSummary {
        margin-bottom: 10px;
        margin-top: 5px;
    }

    .infoBarInner {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .infoBarLinksContainer {
        display: flex;
        flex-flow: row wrap;
        flex-grow: 2;
        justify-content: space-around;
        margin-top: 5px;
    }

    .infoBarLinks {
        margin-left: 5px;
        margin-right: 5px;
    }

    .pageContainer {
        padding: 0 10%;

        @include breakpoint(mobile_or_small_width) {
            padding: 0;
        }
    }
    .readme {
        margin: 15px 5px 5px 5px;
        padding: 20px;
        border-radius: 5px;
        border: 1px solid #EEEEEE;
    }

    .readme .highlight {
        overflow-x: auto;
    }

    .deep-link > a:hover {
        text-decoration: none;
    }

    .readme {
        word-wrap: break-word;
    }

    .readme code, .readme .highlight {
            padding: 0;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
            margin: 0;
            font-size: 85%;
            background-color: rgba(0,0,0,0.04);
            border-radius: 3px;
    }
    .readme img {
        max-width:100%;
    }
