@import 'common';
@import 'title_bar';
@import 'bom';

.Page {

  .disabledSite {
    color:grey;
    -ie-user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    cursor:default
  }

  .subtitleText{
    font-size:100% ;
    text-align:center;
    color:gray;
  }
  .titleText {
    color: white;
    width: 100%;
    text-align: center;
    vertical-align:  middle;
    line-height: 2.5rem;
    font-size:220%;
    border-radius: 5px
  }
  .infoBar {padding: 20px; margin-top:10px}
  .infoBarInner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around
  }

  .infoBarLinksContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex-grow:2
  }
  .board-showcase{
    margin-bottom:1rem;
    display:flex;
  }
  .board-edge{
    background:gray;
    width:10%;
    border-bottom:1px solid #000;
  }
  .board-container {
    width:100%;
    background:#373737;
    border-bottom:1px solid #000;
    border-top:1px solid #404040;
    display: flex;
    justify-content: space-around;
    max-height: 15rem;
    padding: 2rem;
  }
  .toggle-board-form {
    margin-top:1rem;
  }
  .board-diagram {
    height:15rem;
    width:50%;
  }
  .circuit-border-container {
    width:0.4rem;
    display:flex;
    justify-content:center;
  }
  .circuit-border {
    width:0.5rem;
  }
  .toggle-board-view{
    display:flex;
    justify-content:space-around;
  }
  .circuit-toggle-btn:disabled{
    background: dimgrey;
  }
  .circuit-toggle-btn{
    background:#373737;
    padding: 1rem 2rem;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    background:#373737;
    color: white;
    border-top: 2px solid #eee;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }
  @media (min-width:810px) and (max-resolution: 200dpi){
    .toggle-board-view{
      display:none;
    }
    .back-board{
      padding-left:1rem;
    }
    .front-board{
      padding-right:1rem;
    }
  }
  @media (max-width:810px), (min-resolution: 200dpi) {
    .board-edge {
      display:none;
    }
    .back-board {
      display:none;
    }
    img.board-diagram {
      display:none;
      width:100%;
    }

    img.selected-board.board-diagram {
      display:block;
    }
    .circuit-border-container {
      display:none;
    }
  }

}
