@import 'page';
@import 'colors';
@import '/semantic.min.css';

.instructions {
    margin: 50px 10% 10% 10%;
}

code {
    background-color:$lightlightgray;
}

form {
    #urlInput {
        width: 70%;
        height: 50px;
        font-size:40px;
        line-height: 50px;
    }
    margin: 50px 10% 10% 10%;
}
