@import 'page';
@import 'colors';
@import 'common';
@import '/semantic.min.css';

.ui.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

code {
    background-color:$lightlightgray;
}

.ui.input {
    margin-top:50px;
    max-width: 500px;
    flex-grow: 1;
}
.step {
    font-weight:normal;
    @include breakpoint(mobile) {
        font-size:27px !important;
    }
}

.step:hover {
   text-decoration: none;
}

.stepsContainer {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.previewContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
