@import 'page';
@import 'colors';
@import '/semantic.min.css';

.content {
    margin: 50px 10% 0 10%;
}

code {
    background-color:$lightlightgray;
}

.ui.input {
    margin-top:50px;
    max-width: 500px;
}
.step {
    font-weight:normal;
}

.step:hover {
   text-decoration: none;
}

.Steps {
    margin-bottom: 50px;
}
