@import 'colors';
@import '/semantic.min.css';

.titleBar {
    padding: 10px;
    .ui.menu .item > a:hover {
        text-decoration: none !important;
    }

    .rightButtonsContainer {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .socialMenu {
        margin-bottom: 0px !important;
    }

    align-items: center;
    background-color: $cod-gray;
    border-bottom-left-radius: 5;
    border-bottom-right-radius: 5;
    box-shadow: 0 .1em .5em $cod-gray;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    justify-content: space-around;

    .logoContainer {
        display:flex;
        justify-content: flex-start;
        z-index: 1;
        flex-shrink: 2;
        flex-wrap: wrap;
    }

    .logoImg {
        max-height: 46px;
        min-width: 140px;
    }
    .submissionButton {
        align-items: center;
        background: $fruit-salad;
        border: 0;
        border-radius: 3px;
        box-sizing: border-box;
        color: $white;
        cursor: pointer;
        display: flex;
        font-family: 'Noto Sans','Helvetica', 'Arial', sans-serif;
        font-size: 16px;
        font-weight: bold;
        line-height: 0;
        margin-right: 8px;
        min-width: 174px;
        padding: 20px 15px;
        white-space: nowrap;
    }

    .middleContainer {
        flex-grow: 2;

    }

    .addProjectButton {
        margin-right: 8px;
    }

    .userButtonContainer {
        min-width: 87px;
        display: flex;
        justify-content: center;
    }

    .userDropContainer {
        display: flex;
        align-items: center;

    }

    .userDropContainer > i {
        padding-left: 5px;
        margin-top: -3px;
    }

}
