@import 'colors';

.titleBar {
    background-color: $mine-shaft;
    border-bottom-left-radius: 5;
    border-bottom-right-radius: 5;
    box-shadow: 0 .1em .5em $black;
    display: flex;
    width: 100%;

    @include breakpoint(mobile) {
        flex-wrap: wrap;
        padding-top: 10px;
    }
}

.logoContainer {
    background-color: $mine-shaft;
    flex-shrink: 0;
    padding: 10px;
    width: 140px;

    @include breakpoint(mobile) {
        width: 50%;
    }
}

.logoImg {
    width: 90%;

    @include breakpoint(mobile) {
        width: 70%;
    }
}

.submitContainer {
    background-color: $mine-shaft;
    flex-shrink: 0;
    padding: 15px 10px 10px;
    width: 140px;

    @include breakpoint(mobile) {
        width: 40%;
    }
}

.submitImage {
    width: 60%;
}

.middleContainer {
    flex-grow: 2;
    min-width: 180px;
    padding: 2px;

    @include breakpoint(mobile) {
        order: 3;
        padding: 10px;
        width: 100%;
    }
}
