@import 'common';

.titleBar {
    .ui.inverted.menu {
        border: none !important;
        background-color: transparent;
        font-size: 12pt !important;
    }
    .ui.secondary.inverted.pointing.menu .item {
        color: lightgrey !important;
    }
    .ui.secondary.inverted.pointing.menu .item:hover {
        color: white !important;
    }
    align-items: center;
    background-color: $cod-gray;
    border-bottom-left-radius: 5;
    border-bottom-right-radius: 5;
    box-shadow: 0 .1em .5em $cod-gray;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    justify-content: center;

    .logoContainer {
        min-width:320px;
        display:flex;
        justify-content: flex-start;
        margin: 10px;
        z-index: 1;
        flex-shrink: 2;
    }

    .logoImg {
        max-height: 46px;
    }
    .submissionButton {
        align-items: center;
        background: $fruit-salad;
        border: 0;
        border-radius: 3px;
        box-sizing: border-box;
        color: $white;
        cursor: pointer;
        display: flex;
        font-family: 'Noto Sans','Helvetica', 'Arial', sans-serif;
        font-size: 16px;
        font-weight: bold;
        line-height: 0;
        margin-right: 8px;
        min-width: 174px;
        padding: 20px 15px;
        white-space: nowrap;
    }

    .userMenu {
        min-width: 320px;
        align-items: center;
        color: $white;
        display: flex;
        flex-shrink: 0;
        justify-content: flex-end;
        padding: 10px;
        z-index: 1;

        .contributeButton {
            align-items: center;
            border: 0;
            border-radius: 3px;
            color: $gray;
            cursor: pointer;
            display: flex;
            font-family: 'Noto Sans','Helvetica', 'Arial', sans-serif;
            font-size: 16px;
            font-weight: bold;
            justify-content: space-around;
            padding: 5px;
            white-space: nowrap;

        }

        .contributeButton:hover {
            color: $silver-chalice;
        }

        .uploadContainer:hover {
            text-decoration: none;
        }
    }

    .middleContainer {
        flex-grow: 2;

    }

    .addProjectButton {
        margin-right: 8px;
    }

    .userButtonContainer {
        min-width: 87px;
        display: flex;
        justify-content: center;
    }

    .userDropContainer {
        display: flex;
        align-items: center;

    }

    .userDropContainer > i {
        padding-left: 5px;
        margin-top: -3px;
    }

}
