name: Build and deploy

on:
  schedule:
    # run every 3 hours on the 33rd minute (github actions sees higher usage on
    # the 0th minute)
    - cron: 33 */3 * * *
  push:

jobs:
  build_and_deploy:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install dependencies
        run: |
          sudo apt-get update -qq && sudo apt-get install -y software-properties-common curl
          sudo add-apt-repository -y ppa:kicad/kicad-7.0-releases
          sudo apt-get update -qq
          sudo apt-get install -qq -y --no-install-recommends kicad inkscape imagemagick yarn git ninja-build build-essential
          yarn install --frozen-lockfile
      - name: Build
        env:
          NODE_ENV: production
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          export PATH="$(pwd)/node_modules/.bin:$PATH"
          ./scripts/plug_versions
          # to save bandwidth and avoid being rate-limited on lfs fetches
          git config --global lfs.fetchexclude '*'
          ./scripts/get_boards production false
          ./configure production false
          ninja -j 2 && cp registry.json build/
      - name: Test
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          CYPRESS_PROJECT_ID: ${{ secrets.CYPRESS_PROJECT_ID }}
        run: yarn smoke-test
      - name: Deploy
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          PREVIEW_DEPLOY_SSH_KEY: ${{ secrets.PREVIEW_DEPLOY_SSH_KEY }}
        run: ./scripts/deploy
